p {
  margin: 10px;
}

section {
  width: 33.3%;
  float: left;
}

img {
  width: 100%;
}

@media screen and (max-width: 480px) {
  section {
    width: 100%;
  }
}

@media screen and (min-width: 481px) and (max-width: 800px) {
  section {
    width: 50%;
  }
}
